:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    /* font-size chá»¯ 10px */
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    /*1rem = 10px*/
    line-height: 1.6rem;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_fullwidth{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}