.header {
    height: 120px;
    background-image: linear-gradient(0, #f53d2d, #f63);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__navbar-list {
    list-style-type: none;
    padding-left: 0;
}

.header__navbar-item{
    margin:0 8px ;
}

.header__navbar-item--link,
.header__navbar-item {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 300;
}

.header__navbar-item--strong{
font-weight: 600;
}

.header__navbar-item--separate::after{
content: "";
position: absolute;
display: block;
border-left: 1px solid #0e0e0e;
height: 14px;
right: -9px;
top:50%;
transform: translateX(-50%);
}